absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
amqp==5.3.1
annotated-types==0.7.0
anyio==4.7.0
appdirs==1.4.4
arabic-reshaper==3.0.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
astunparse==1.6.3
asyncio==3.4.3
attrs==24.2.0
Automat==24.8.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
billiard==4.2.1
blinker==1.9.0
blis==1.0.2
boto3==1.35.90
botocore==1.35.90
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.0
catalogue==2.0.10
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
constantly==23.10.4
contourpy==1.3.1
crispy-bootstrap4==2024.10
crispy-bootstrap5==2024.10
cryptography==44.0.0
cssselect==1.2.0
cssselect2==0.7.0
currencies==2020.12.12
cycler==0.12.1
cymem==2.0.10
decorator==5.1.1
defusedxml==0.8.0rc2
Deprecated==1.2.15
diff-match-patch==20241021
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.4
django-admin-honeypot==1.1.0
django-allauth==65.3.0
django-anymail==12.0
django-bootstrap5==24.3
django-ckeditor==6.7.2
django-countries==7.6.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-import-export==4.3.3
django-js-asset==2.2.0
django-mptt==0.16.0
django-mssql-backend==2.8.1
django-multiselectfield==0.1.13
django-oauth-toolkit==3.0.1
django-phonenumber-field==8.0.0
django-storages==1.14.4
django-tinymce==4.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
dnspython==2.7.0
docutils==0.21.2
drf-yasg==1.21.8
et_xmlfile==2.0.0
executing==2.1.0
fabric==3.2.2
fake-useragent==2.0.3
fastapi==0.115.6
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.16.1
filetype==1.2.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.55.3
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
google-cloud==0.34.0
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
html5lib==1.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.5.0
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
invoke==2.2.0
ipinfo==5.1.1
ipython==8.30.0
itsdangerous==2.2.0
jedi==0.19.2
jieba3k==0.35.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jwcrypto==1.5.6
keras==3.7.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kiwisolver==1.4.7
kombu==5.4.2
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
lightgbm==4.5.0
loguru==0.7.3
lxml==5.3.0
lxml_html_clean==0.4.1
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
mdurl==0.1.2
ml-dtypes==0.4.1
mock==5.1.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.11
mysql-connector-python==9.1.0
namex==0.0.8
networkx==3.4.2
newspaper3k==0.2.8
nltk==3.9.1
numpy==2.0.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
opencv-python==4.10.0.84
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
paramiko==3.5.0
parse==1.20.2
parso==0.8.4
patsy==1.0.1
peewee==3.17.8
pexpect==4.9.0
pillow==11.0.0
pip-tools==7.4.1
pipdeptree==2.24.0
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
preshed==3.0.9
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.1
psycopg==3.2.4
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.3
pydantic_core==2.27.1
pydyf==0.11.0
pyee==11.1.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
PyJWT==2.10.1
pymongo==4.10.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyodbc==5.2.0
pyparsing==3.2.0
pypdf==5.1.0
PyPDF2==3.0.1
pyperclip==1.9.0
pyphen==0.17.0
pyppeteer==2.0.0
pyproject-api==1.8.0
pyproject_hooks==1.2.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.15
PyQt5_sip==12.16.1
pyquery==2.0.1
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.3.4
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python3-openid==3.2.0
python3-xlib==0.15
pytweening==1.2.0
pytz==2024.2
PyYAML==6.0.2
qrcode==8.0
razorpay==1.4.2
regex==2024.11.6
reportlab==4.2.5
requests==2.32.3
requests-file==2.1.0
requests-html==0.10.0
requests-oauthlib==2.0.0
rich==13.9.4
s3transfer==0.10.4
scikit-learn==1.6.0
scipy==1.14.1
seaborn==0.13.2
selenium==4.27.1
setuptools==75.6.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sorl-thumbnail==12.11.0
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.36
sqlparse==0.5.3
srsly==2.5.0
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
stripe==11.4.1
suds-py3==1.4.5.0
svglib==1.5.1
sympy==1.13.1
tablib==3.7.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
thinc==8.3.2
threadpoolctl==3.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tinysegmenter==0.3
tk==0.1.0
tldextract==5.1.3
torch==2.5.1
tornado==6.4.2
tox==4.23.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.27.0
trio-websocket==0.11.1
triton==3.1.0
Twisted==24.11.0
twython==3.9.1
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
uritools==4.0.3
urllib3==1.26.20
var_dump==1.2
vine==5.1.0
virtualenv==20.28.0
w3lib==2.2.1
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
weasyprint==63.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.8.2
wordcloud==1.9.4
wrapt==1.17.0
wsproto==1.2.0
wxPython==4.2.2
xgboost==2.1.3
xhtml2pdf==0.2.16
yarl==1.18.3
zipp==3.21.0
zope.interface==7.2
zopfli==0.2.3.post1
