<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Grocery E-Commerce</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">"Pain itself is important, and pain itself is essential, because the feeling of being truly able to feel pain in the course of working is a valuable good. Only by avoiding great excesses can we achieve happiness. It’s necessary to examine whether it’s just or unjust to endure hardship and labor. In this case, no one should be angry about how one behaves, because everything is essentially about what is considered bad." </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>
<!--
developed By : Kidenge Elisha
-->

</html>
